*.egg-info

*.log

*.pyc

.coverage

build

config.data

config.data.enc

debug.txt

dist

docs/

MANIFEST

dev/profile.txt

dev/pyi

dev/stats.py

dev/stats.txt

src/*.egg-info

src/PyiUpdater.egg-info/PKG-INFO

src/PyiUpdater.egg-info/PKG-INFO

src/PyiUpdater.egg-info/PKG-INFO

pyi-data/

src/PyiUpdater.egg-info/entry_points.txt

src/PyiUpdater.egg-info/SOURCES.txt

src/PyiUpdater.egg-info/dependency_links.txt

src/PyiUpdater.egg-info/requires.txt

src/PyiUpdater.egg-info/top_level.txt

dev/Baker.app/
