appdirs
blinker
bsdiff4
certifi
ed25519
jms-utils
git+git://github.com/pyinstaller/pyinstaller.git@develop#egg=pyinstaller
PyiUpdater-s3-Plugin
PyiUpdater-scp-Plugin
requests
simple-crypt
six
stevedore
urllib3
